<ul class="featured-jobs">
    <li>
        <h2>Software Engineer</h2>
        <p>We're looking for a talented software engineer to join our team.</p>
        <a href="#">Learn more</a>
    </li>
    <li>
        <h2>Product Manager</h2>
        <p>We're looking for a product manager to help us launch our new product.</p>
        <a href="#">Learn more</a>
    </li>
    <li>
        <h2>Data Scientist</h2>
        <p>We're looking for a data scientist to help us analyze our data and make better decisions.</p>
        <a href="#">Learn more</a>
    </li>
</ul>
